body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(5, 5, 128);
}

.todo-title {
  cursor: pointer;
}
.completed-todo {
  text-decoration: line-through;
}
.tab-list > span {
  padding: 5px 8px;
  border: 1px solid rgb(5, 5, 128);
  border-radius: 10px;
  margin-right: 5px;
  cursor: pointer;
}
.tab-list > span.active {
  background-color: rgb(5, 5, 128);
  color: #fff;

}

.main-content {
  background-color: #465794;
  padding: 20px; 
  height: 100vh;
 
}

.text-center {
  color: #333; 
  font-size: 36px; 
  margin-bottom: 20px; 
}

.row{
  font-weight: 500;
}



.btn-primary {
  background-color: #6c757d !important;
  font-weight: 500;
  color: #fff;
  border:#6c757d ;
  padding: 10px 20px; 
  margin-bottom: 20px; 
  width: 200px;
  outline:none;
  box-shadow: none;
}

.btn-primary:focus {
  outline:none !important;
  box-shadow: none !important;
}

.btn-primary:hover {
  background-color: #5a6268; 
}

.btn-secondary {
  background-color: #6c757d; 
  font-weight: 500;
  color: #fff; 
  border:#6c757d ;
  padding: 10px 20px; 
  margin-bottom: 20px; 
  width: 200px
}

.btn-secondary:hover {
  background-color: #5a6268; 
}


.card {
  border: none; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}


.list-group-item {
  background-color: #fff; 
  border: none; 
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); 
  margin-bottom: 10px; 
}


.tab-list {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-list span {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #007bff; 
  color: #fff; 
  border: 1px solid #007bff; 
  border-radius: 5px; 
  margin-right: 10px; 
}

.tab-list span.active {
  background-color: #0056b3; 
  border: 1px solid #0056b3; 
}


.modal-content {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  border: none; 
  border-radius: 5px; 
}


.form-control {
  border: 1px solid #ccc; 
  border-radius: 5px; 
  padding: 10px; 
  margin-bottom: 20px; 
}


.btn-success {
  background-color: #28a745; 
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px; 
}

.btn-success:hover {
  background-color: #218838; 
}


.btn-danger {
  background-color: #dc3545;
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px; 
}

.btn-danger:hover {
  background-color: #c82333; 
}


.footer {
  background-color: #333; 
  color: #fff; 
  text-align: center; 
  padding: 10px 0;
  position: fixed; 
  left: 0;
  bottom: 0;
  width: 100%; 
}

.image-icon {
  width: 20px; 
  height: 20px; 
  margin-right: 8px; 
  vertical-align: middle; }

.btn-with-icon {
  display: flex; 
  align-items: center; 
}

.auth-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.auth-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-container label {
  margin-bottom: 5px;
  text-align: left;
}

.auth-container input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-container button {
  padding: 10px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-container button:hover {
  background-color: #0056b3;
}

.auth-container p {
  margin-top: 10px;
  color: red;
}
.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  max-width: 20%;
  height: auto;
  margin-bottom: 20px; 
}
.centered-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  font-weight: 500;
}

.centered-form form {
  width: 300px; 
}

.centered-form form div {
  margin-bottom: 15px; 
}

.btn-custom {
  background-color: #6c757d; 
  color: #fff; 
  
  border: none; 
  padding: 10px 20px; 
  margin-bottom: 20px; 
  width: 100%; 
}
